@model SchedulerApp.Models.ApplicationDbContext.Events

@{
    ViewBag.Title = "Home";
}
<br />
<div class="jumbotron">
    <h3>Scheduler</h3>
    <p class="lead">Web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
   
</div>
<br />

<div class="jumbotron">
    <h3>Tips</h3>
    <p class="lead">If you are a newly registered user, please log off and Sign-in again.</p>

</div>
<br />
<div class="jumbotron">
    <h3>How to use the Scheduler</h3>
    <p class="lead">How to use the Scheduler</p>

</div>
<br />

<div class="jumbotron">
    <h3>How it Work's</h3>
    <p class="lead">Web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
